{% extends "base.html" %}
{%block body%}

<!-- Features Section -->
<section id="features" class="features section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="features-item">
            <i class="bi bi-laptop" style="color: #ffbb2c;"></i>
            <h3><a href="cselm" class="stretched-link">CSE</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="features-item">
            <i class="bi bi-robot" style="color: #5578ff;"></i>
            <h3><a href="cseailm" class="stretched-link">CSE-AI</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="features-item">
            <i class="bi bi-nut" style="color: #e80368;"></i>
            <h3><a href="MElm" class="stretched-link">ME</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="400">
          <div class="features-item">
            <i class="bi bi-phone" style="color: #e361ff;"></i>
            <h3><a href="ecelm" class="stretched-link">ECE</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="500">
          <div class="features-item">
            <i class="bi bi-lightbulb" style="color: #47aeff;"></i>
            <h3><a href="eelm" class="stretched-link">EE</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="600">
          <div class="features-item">
            <i class="bi bi-building" style="color: #ffa76e;"></i>
            <h3><a href="civillm" class="stretched-link">Civil</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="700">
          <div class="features-item">
            <i class="bi bi-graph-up" style="color: #11dbcf;"></i>
            <h3><a href="bbalm" class="stretched-link">BBA</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="800">
          <div class="features-item">
            <i class="bi bi-camera-video" style="color: #4233ff;"></i>
            <h3><a href="bcalm" class="stretched-link">BCA</a></h3>
          </div>
        </div><!-- End Feature Item -->

        <div class="col-lg-3 col-md-4" data-aos="fade-up" data-aos-delay="900">
          <div class="features-item">
            <i class="bi bi-graph-up" style="color: #b2904f;"></i>
            <h3><a href="mbalm" class="stretched-link">MBA</a></h3>
          </div>
        </div><!-- End Feature Item -->


{%endblock%}